.x-logo {
  margin-left: 14px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.x-logo:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.x-img {
  width: 26px;
  height: 26px;
  margin-top: 14px;
  margin-left: 14px;
}

.left-img {
  width: 26px;
  height: 26px;
  margin-top: 12px;
  margin-left: 12px;
}

.items {
  position: fixed;
  height: 100dvh;
  top: 0px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.left-logo {
  display: inline-flex;
  align-items: center;
  height: 16px;
  margin-left: 12px;
  padding: 11px 26px 23px 0px;
  border-radius: 25px;
}

.left-logo:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.left-names {
  padding-left: 18px;
  padding-top: 15px;
}

.post-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
}

.post-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 17px;
  font-weight: bold;
  padding: 14px 100px;
  margin-right: 22px;
  border-radius: 25px;
  transition-duration: 0.2s;
}

.post-button:hover {
  cursor: pointer;
  background-color: rgb(26, 140, 216);
}

.profile:hover {
  cursor: pointer;
  background-color: rgba(231, 233, 234, 0.1);
}

.photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.left-name {
  font-size: 15px;
  line-height: 20px;
}

.upper-name {
  font-weight: bold;
}

.lower-name {
  color: rgb(113, 118, 123);
}

.dot-setting {
  width: 16px;
  margin-left: 24px;
}