.left-header {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  position: sticky;
  display: flex;
  align-items: center;
  top: 0px;
  height: 50px;
  padding: 0 14px;
  border-left: 1px solid rgb(57, 57, 57);
  border-right: 1px solid rgb(57, 57, 57);
}

.arrow-div {
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  transition-duration: 0.2s;
  margin-right: 30px;
}

.arrow-div:hover {
  background-color: rgba(239, 243, 244, 0.1);
  cursor: pointer;
}

.left-arrow {
  padding-top: 5px;
  padding-left: 6px;
  width: 24px;
}

.header-name {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.header-first-name {
  font-weight: bold;
}

.header-posts {
  color: rgb(113, 118, 123);
  font-size: 13px;
  margin-top: 4px;
}

.profil {
  height: 420px;
}

.background {
  height: 210px;
  background-color: rgb(60, 60, 60);
}

.profile-infos {
  padding: 12px 16px 0;
  height: 198px;
}

.mid-photo {
  margin-top: -55%;
  width: 140px;
  border-radius: 50%;
  border: 4px solid black;
}

.photo-and-set {
  display: flex;
  justify-content: space-between;
}

.setup-div {
  padding: 0 16px;
  cursor: pointer;
  margin-bottom: 40px;
  border-radius: 25px;
  border: 1px solid grey;
  transition-duration: 0.2s;
}

.setup-div:hover {
  background-color: rgba(239, 243, 244, 0.1);
}

.setup-button {
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}

.mid-name {
  margin-top: 4px;
  margin-bottom: 12px;
}

.mid-upper-name {
  font-weight: bold;
  margin-bottom: 4px;
  margin-left: 2px;
}

.mid-lower-name {
  color: rgb(113, 118, 123);
  font-size: 15px;
}

.calendar {
  width: 16px;
}

.join-date {
  margin-bottom: 12px;
}

.join-date-a {
  font-size: 15px;
  color: rgb(113, 118, 123);
}

.follower-div {
  color: rgb(113, 118, 123);
  height: 20px;
  display: flex;
  font-size: 14px;
}

.numbers {
  color: #E7E9EA;
}

.following {
  margin-right: 20px;
}

.following:hover,
.follower:hover {
  text-decoration-thickness: 1px;
  text-decoration: underline;
  cursor: pointer;
}

.tabs-div {
  display: flex;
  height: 53px;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  border-bottom: 1px solid rgb(57, 57, 57);
}

.tabs {
  color: #71767B;
  font-weight: bold;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition-duration: 0.2s;
}

.tabs:hover {
  background-color: rgba(231, 233, 234, 0.1);
  cursor: pointer;
}

.posts-tab {
  color: #E7E9EA;
}

.nameInput {
  display: none;
  border: none;
  font-size: 16px;
  outline: none;
  margin-bottom: 5px;
}