.post-area {
  position: fixed;
  z-index: 1;
  width: 600px;
  border-radius: 20px;
  background-color: black;
  left: 30%;
  top: 5%;
  display: none;
}

.post-area-top-div {
  padding: 12px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.post-area-top-div-x {
  background-color: black;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.post-area-top-div-x:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.post-area-top-div-drafts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border-radius: 35px;
  font-size: 14px;
  font-weight: bold;
  color: #1D9BF0;
}

.post-area-top-div-drafts:hover {
  background-color: rgba(29,155,240,0.10);
  cursor: pointer;
}

.post-area-bottom-div {
  background-color: black;
  border-radius: 20px;
}

.post-area-photo-div {
  padding-left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-area-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-area-wih-div {
  width: 100%;
  padding-left: 10px;
}

.post-area-wih-input {
  overflow-y: hidden;
  resize: none;
  border: none;
  outline: none;
  background-color: black;
  width: 93%;
  font-size: 20px;
  color: white;
  padding-left: 5px;
  min-height: 100px;
}

.post-area-ecr-div {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  width: 160px;
  height: 24px;
  border-radius: 12px;
}

.post-area-ecr-div:hover {
  background-color: rgba(29,155,240,0.10);
  cursor: pointer;
}

.post-area-ecr-img {
  width: 16px;
  height: 16px;
}

.post-area-ecr-name {
  font-size: 15px;
  padding-left: 2px;
  color: #1D9BF0;
  display: flex;
}

.post-area-line {
  height: 1px;
  margin-left: 10px;
  margin-right: 22px;
  background-color: rgb(47,51,54);
}

.post-area-post-div {
  display: flex;
  justify-content: end;
}

.post-area-post-name {
  border: none;
  color: white;
  cursor: pointer;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 16px 10px 0;
  width: 70px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 18px;
  background-color: #1D9BF0;
}

.post-area-post-name:disabled {
  opacity: 0.5;
  cursor: default;
}