body {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  box-sizing: border-box;
  height: 100%;
}

img {
  width: 32px;
}

.main {
  height: 100%;
  display: flex;
}

.right-main {
  height: 100%;
  width: 990px;
  display: flex;
}

.mid-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 26%;
  height: 100dvh;
  display: flex;
  justify-content: end;
}

.mid {
  border-left: 1px solid rgb(57, 57, 57);
  border-right: 1px solid rgb(57, 57, 57);
  width: 600px;
  height: 100%;
}

.right {
  width: 350px;
}

.profile {
  height: 40px;
  padding: 12px;
  margin: 15px 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}