.tweets {
  height: 60px;
  padding: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 14px;
}

.tweets-right {
  width: 100%;
  padding-left: 12px;
}

.tweets-img-div {
  height: 60px;
}

.tweetsImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.tweetsNameDiv {
  width: calc(100% - 12px);
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.tweetsNameDiv2 {
  display: flex;
}

.tweetsName {
  font-size: 15px;
  color: #E7E9EA;
  font-weight: bold;
  padding-right: 4px;
}

.tweetsName:hover {
  text-decoration: underline;
}

.tweetsNameTag {
  font-size: 14px;
  color: #71767B;
}

.little-3-dot-img {
  width: 14px;
}

.dots-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
}

.dots-img:hover {
  background-color: rgba(29, 155, 240, 0.10);
}

.tweets-icons {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.tweets-reply-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.tweets-reply-div:hover {
  background-color: rgb(29, 155, 240);
}

.tweets-reply {
  height: 16px;
  width: 16px;
}

.tweets-retweet-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.tweets-retweet {
  height: 16px;
  width: 16px;
}

.tweets-retweet-div:hover {
  background-color: rgb(0, 186, 124);
}

.tweets-like-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.tweets-like {
  height: 16px;
  width: 16px;
}

.tweets-like-div:hover {
  background-color: rgb(249, 24, 128);
}

.tweets-view-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.tweets-view {
  height: 16px;
  width: 16px;
}

.tweets-view-div:hover {
  background-color: rgb(29, 155, 240);
}

.tweets-bookmark {
  height: 16px;
  width: 16px;
}

.tweets-bookmark-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.tweets-bookmark-div:hover {
  background-color: rgb(29, 155, 240);
}

.tweets-share {
  height: 16px;
  width: 16px;
}

.tweets-share-div:hover {
  background-color: rgb(29, 155, 240);
}

.tweets-share-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.tweets-little-div {
  display: flex;
}

.tweets-contents {
  padding-top: 4px;
  padding-bottom: 6px;
}