.tweets {
  height: 40px;
  padding: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 15px;
}

.tweets-right {
  width: 100%;
  padding-left: 12px;
}

.tweetsImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.tweetsNameDiv {
  width:calc(100% - 12px);
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.tweetsNameDiv2 {
  display: flex;
}

.tweetsName {
  font-size: 15px;
  color: #E7E9EA;
  font-weight: bold;
  padding-right: 4px;
}

.tweetsName:hover {
  text-decoration: underline;
}

.tweetsNameTag {
  font-size: 14px;
  color: #71767B;
}

.little-3-dot-img {
  width: 14px;
}

.dots-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
}

.dots-img:hover {
  background-color: rgba(29,155,240,0.10);
}

.tweets-icons {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}